page-activation-account {
	input[name="conf_password"]
	{
		text-align: center;
		border-left: 0px;
		border-top: 0px;
		border-right: 0px;
		letter-spacing: 2px;
	}

	.btn-next-signup
	{
		margin-top: 3rem;
	}
}
